/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

:root {
  --main-color: #ff4c68;
  --icon-color: #ef8172;
  --grey-color: #8f8f8f;
  --testimonials-color: #E56153;
}

body {
    font-family: "Montserrat";
}

/* Navbar Sectiion */
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.nav-item {
    padding: 0px 18px;
}
.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}

/* Home Section */
#title, #cta {
  background-color: var(--main-color);
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

.col-lg-6 h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    margin: 0 0 0 30%;
}

/* Features Section */

#features {
    padding: 4% 15% 4% 15%;
    color: #000;
    background-color: #fff;
}

.feature-card {
    text-align: center;
    padding: 5%;
}

.feature-card h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.feature-card p {
    color: var(--grey-color);
}

.feature-icon {
    color: var(--icon-color);
    margin-bottom: 1.2rem;
}

.feature-icon:hover {
    color: var(--main-color);
}

/* Testimonials */

#testimonials {
    text-align: center;
    /* background-color: var(--testimonials-color); */
    background-image: url('../images/testimonial-background.png');
    color: #fff;
}

#testimonials h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5;
}

.carousel-item {
     padding: 7% 15%; /* padded the carousel buttons and indicators */
}

.testimonial-image {
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

#press {
    text-align: center;
    padding: 3% 0;
}

.press-logo {
    width: 15%;
    margin: 55px 25px;
}

#press h2 {
    padding-top: 25px;
    font-size: 1.5rem;
    font-weight:600;
    color: var(--grey-color);
}

/* Pricing section */

#pricing {
    padding: 0 80px 50px;
    text-align: center;
}

.pricing-title {
    margin-bottom: 4%;
}

.pricing-title h2 {
    padding-bottom: 7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.pricing-title p {
    color: var(--grey-color);
}

.card-column {
    padding: 2%;
}

.pricing-card-title {
    padding: 3% 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

/* Call to Action */

.cta-elements {
    font-size: 2.2rem;
    font-weight: 900;
    line-height: 1.6;
    margin: auto;
    padding: 4rem 0 0 0;
    width: 65%;
}
.cta-download{
    margin: 0 1.5% 10%;
    padding-bottom: 4%;
    text-align: center;
}

/* Footer */
#footer {
    text-align: center;
    background-color: #fff;
}

.social-icons {
    margin: 0 1% 2%;
}

#footer a {
    color: #000;
}
/* Responsive */

@media (max-width: 1100px) {
    /* Title */
    #title {
        text-align: center;
    }
    .title-image {
        transform: rotate(0);
        padding-top: 15%;
        margin: 0 1% 0 0 !important;
    }
    /* Testimonials */
    #testimonials h2 {
        font-size: 26px;
    }

    .testimonial-image {
        width: 70px;
    }
    .test-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 350px) and (max-width: 585px) {
    /* Press */
    .press-logo {
        display: inline-block;
        width: 60%;
        padding: 2px;
        margin: 15px 8px ;
    }

    #pricing {
        padding: 0 20px 50px;
    }

    .pricing-title h2 {
        font-size: 27px;
    }

    .pricing-title p {
        font-size: 16px;
    }
}

@media (max-width: 970px) {
    .card {
        padding: 1.5%;
        margin-bottom: 15px;
    }
}